.accordion h3 {
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  position: relative;
  color: #316dc2;
  min-height: 54px;
  display: flex;
  align-items: center;
  margin: 0;
  padding-right: 100px;
}

.accordion__element {
  padding: 40px;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  border-radius: 16px;
  border: 1px solid #316dc2;
  margin-bottom: 10px;
  background-color: transparent;

  &:hover,
  &:focus-within {
    background-color: #ffffff;

    .accordion__button-inner {
      background-color: #ffffff;
    }

    svg {
      stroke: #316dc2;
    }
  }

  &:active {
    h3 {
      color: #275699;
    }

    .accordion__button-inner {
      background-color: #275699;
      border-color: #275699;
    }

    svg {
      stroke: #ffffff;
    }
  }
}

.accordion__element.is-active {
  background-color: #316dc2;
  padding-bottom: 15px;

  h3 {
    color: #ffffff;
  }

  .accordion__button-inner {
    background-color: #ffffff;
  }

  .accordion__button-minus {
    display: block;
    stroke: #316dc2;
  }

  .accordion__button-plus {
    display: none;
  }

  &:hover,
  &:focus-within {
    .accordion__button-inner {
      border-color: #ffffff;
      background-color: transparent;
    }

    svg {
      stroke: #ffffff;
    }
  }

  &:active {
    background-color: #275699;

    .accordion__button-inner {
      background-color: #ffffff;
    }

    svg {
      stroke: #275699;
    }
  }
}

.accordion__button {
  background: transparent;
  border: none;
  padding: 0;
  position: absolute;
  inset: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;

  &:focus-visible {
    outline: none;
  }
}

.accordion__button-inner {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #316dc2;
  position: absolute;
  background-color: #316dc2;
  top: 40px;
  right: 40px;

  svg {
    stroke: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.accordion__button-minus {
  display: none;
}

.accordion__wrapper {
  font-size: 16px;
  line-height: 26px;
  color: #f0efe9;
  padding-top: 6px;
  padding-bottom: 17px;
  font-weight: 400;
  max-width: 690px;

  p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin: 0;
  }
}

@media (max-width: $tablet-width) {
  .accordion h3 {
    font-size: 22px;
    line-height: 26px;
    min-height: 50px;
  }

  .accordion__element {
    padding: 24px 29px;
  }

  .accordion__button-inner {
    top: 30px;
    right: 30px;
  }

  .accordion__wrapper {
    max-width: 580px;
    padding-top: 12px;
    padding-bottom: 9px;

    p {
      font-size: 16px;
      line-height: 20px;
    }
  }
}


@media (max-width: $mobile-width) {
  .accordion h3 {
    font-size: 16px;
    line-height: 18px;
    padding-right: 50px;
    display: block;
  }

  .accordion__wrapper {
    padding-top: 20px;

    p {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .accordion__button-inner {
    top: 20px;
    right: 15px;
  }

  .accordion__button-minus {
    width: 14px;
  }

  .accordion__button-plus {
    height: 14px;
    width: 14px;
  }

  .accordion__element {
    padding: 19px 15px;
  }
}
