.button {
  font-family: $ff-manrope;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  color: #316dc2;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 30px;
  border: 1px solid #316dc2;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 30px;
  padding-right: 80px;
  display: inline-block;
  background-color: transparent;

  svg {
    position: absolute;
    width: 10px;
    height: 10px;
    color: #ffffff;
    right: 21px;
    top: 21px;
    z-index: 2;
    stroke-linecap: round;

    &:hover,
    &:focus-visible {
      transform: rotate(45deg);
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: #316dc2;
    top: 3px;
    right: 3px;
    z-index: 1;

    &:hover,
    &:focus-visible {
      background: #ffffff;
    }

    &:active {
      background-color: #ffffff;
    }

    &:disabled {
      border-color: #a9afb7;
      color: #a9afb7;
    }
  }

  &:hover,
  &:focus-visible {
    background-color: #316dc2;
    color: #ffffff;
  }

  &:active {
    background-color: #316dc2;
    color: #ffffff;
    opacity: 0.7;
  }

  &:disabled {
    border-color: #a9afb7;
    color: #a9afb7;
  }
}
