.contacts {
  padding-top: 118px;
  padding-bottom: 116px;
  background-color: #316dc2;
  margin-top: 115px;
}

.contacts__slogan {
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  color: #ffffff;
  margin: 0;
  margin-top: -25px;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 31px;
  margin-bottom: 40px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.contacts__list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  list-style: none;
  width: 604px;
  margin: 0;
}

.contacts__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.12px;
  text-transform: uppercase;
  opacity: 0.8;
  color: #f0efe9;
  margin-top: 0;
  margin-bottom: 16px;
}

.contacts__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  margin: 0;
}

.contacts__image {
  img {
    max-width: 100%;
    object-fit: cover;
  }
}

.contacts__description--tel {
  &:hover,
  &:focus-visible {
    border-bottom: 1px solid #ffffff;
  }

  &:active {
    opacity: 0.8;
    border-bottom: 0;
  }
}

@media (max-width: $tablet-width) {
  .contacts {
    margin-top: 100px;
    padding-top: 124px;
    padding-bottom: 97px;
  }

  .contacts__slogan {
    font-size: 34px;
    line-height: 50px;
    margin-bottom: 30px;
  }

  .contacts__wrapper {
    display: block;
    padding-bottom: 26px;
    margin-bottom: 29px;
  }

  .contacts__list {
    width: auto;
  }

  .contacts__text {
    margin-bottom: 18px;
  }

  .contacts__description {
    line-height: 20px;
  }
}

@media (max-width: $mobile-width) {
  .contacts__list {
    display: block;
  }
}
