.container {
  width: 100%;
  max-width: 1330px;
  margin: 0 auto;
  padding-left: 45px;
  padding-right: 45px;

  @media (max-width: $tablet-width) {
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 15px;
    padding-right: 15px;
    min-width: 320px;
  }
}
