.faq {
  margin-top: 116px;
  padding-top: 4px;
}

.faq__slogan {
  font-family: $ff-manrope;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  color: #316dc2;
  margin-top: 0;
  margin-bottom: 66px;
  text-align: center;
}

.faq__content {
  max-width: 1028px;
  margin-left: auto;
  margin-right: auto;
}

.faq__element {
  width: 100%;
}

@media (max-width: $tablet-width) {
  .faq {
    margin-top: 100px;
    padding-bottom: 0;
    padding-top: 0;
  }

  .faq__slogan {
    font-size: 34px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 40px;
  }
}

@media (max-width: $mobile-width) {
  .faq {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .faq__slogan {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.96px;
    margin-bottom: 37px;
  }
}
