.footer {
  padding-bottom: 46px;
  margin-top: 106px;
}

.footer__logo {
  position: relative;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #ffffff;
  top: 3px;

  svg {
    position: absolute;
    top: 13px;
    left: 11px;
    color: #316cd2;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.footer__header {
  display: flex;
  align-items: center;
}

.footer__list {
  display: flex;
  list-style: none;
  gap: 30px;
  padding-left: 53px;
  margin: 0;
  margin-top: 7px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__list-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #484848;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    color: #316cd2;
  }

  &:active {
    color: #275699;
  }
}

.footer__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.6;
  color: #484848;
  text-decoration: none;
}

.footer__privacy {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #484848;
  text-decoration: none;
  border-bottom: 1px solid #484848;

  &:hover,
  &:focus-visible {
    color: #316cd2;
    border-bottom: 1px solid #316cd2;
  }

  &:active {
    color: #275699;
    border-bottom: 1px solid #275699;
  }
}
