.footer {
  padding-bottom: 46px;
  margin-top: 106px;
}

.footer__logo {
  position: relative;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-top: 3px;
  flex-shrink: 0;

  svg {
    position: absolute;
    top: 13px;
    left: 11px;
    color: #316cd2;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.footer__header {
  display: flex;
  align-items: center;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
  padding-left: 53px;
  margin: 0;
  margin-top: 7px;
}

.footer__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
}

.footer__list-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #484848;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    color: #316cd2;
  }

  &:active {
    color: #275699;
  }
}

.footer__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.6;
  color: #484848;
  text-decoration: none;
}

.footer__privacy {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #484848;
  text-decoration: none;
  border-bottom: 1px solid #484848;

  &:hover,
  &:focus-visible {
    color: #316cd2;
    border-bottom: 1px solid #316cd2;
  }

  &:active {
    color: #275699;
    border-bottom: 1px solid #275699;
  }
}

@media (max-width: $tablet-width) {
  .footer {
    margin-top: 93px;
    padding-bottom: 30px;
  }

  .footer__logo svg {
    top: 13px;
  }

  .footer__content {
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    margin-top: 6px;
  }

  .footer__wrapper {
    display: block;
  }

  .footer__social {
    order: 2;
  }

  .footer__list {
    padding-left: 0;
    gap: 15px;
    margin-left: 99px;
  }

  .footer__list-link {
    line-height: 20px;
  }

  .footer__description {
    font-size: 12px;
    line-height: 12px;
    order: 1;
  }

  .footer__privacy {
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 6px;
  }
}

@media (max-width: $mobile-width) {
  .footer__container {
    flex-direction: column;
  }

  .footer__header {
    flex-direction: column;
    width: 100%;
  }

  .footer__list {
    margin-left: 0;
    justify-content: center;
    gap: 20px 30px;
  }

  .footer__list-link {
    font-size: 14px;
    line-height: 20px;
  }

  .footer__content {
    align-items: center;
  }
}
