.form {
  padding-top: 120px;
  padding-bottom: 120px;
}

.form__container {
  position: relative;
}

.form__wrapper {
  position: relative;
}

.form__legend {
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 38px;
}

.form__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.9;
  color: #f0efe9;
  margin: 0;
  margin-bottom: 40px;
}

.form__field-group {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__checkbox-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: #ffffff;
  opacity: 0.9;
  position: relative;
}

.form__field-group select {
  width: 350px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  appearance: none;
  position: relative;
  margin-top: 12px;
  outline: none;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    background-image: url("../../img/sprite/down.svg");
    top: 10px;
    left: 10px;
    transform: rotate(180deg);
  }




  // appearance: none;
  // background-image: url("../../img/sprite/down.svg");
  // background-repeat: no-repeat;
  // background-position: left 18px top 19px;
  // transform: rotate(180deg);
}

.form__field-group label {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #f0efe9;
  opacity: 0.8;
}

.form__field-group input {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #f0efe9;
  width: 350px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #f0efe9;
  border-radius: 8px;
  opacity: 0.3;
  margin-top: 12px;

  &::placeholder {
    color: #f0efe9;
    opacity: 1;
  }

  &:hover {
    border-bottom-color: #ffffff;
  }

  &:active,
  &:focus {
    outline: none;
    border-color: #ffffff;
  }

  &:disabled {
    border-bottom-color: #ffffff;
    opacity: 0.4;
  }

  &--invalid {
    border-bottom-color: #ff121f;

    + .form__error {
      display: block;
    }
  }
}

.form__field-group textarea {
  width: 350px;
  height: 120px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  margin-top: 12px;
  outline: none;
}

.form__button {
  font-family: $ff-manrope;
  width: 100%;
  padding: 25px;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  background-color: transparent;
  color: #ffffff;
  user-select: none;
  border-radius: 30px;
  border: 1px solid #ffffff;
  position: relative;
  margin-top: 20px;

  &:hover,
  &:focus-visible {
    background-color: #ffffff;
    color: #103aae;
  }

  &:active {
    background-color: #ffffff;
    color: #102654;
  }

  &:disabled {
    opacity: 0.5;
  }

  svg {
    position: absolute;
    top: 27px;
    right: 20px;
  }

  &::after {
    content: "";
    position: absolute;
    right: 4px;
    top: 9px;
    border-radius: 50%;
    background-color: #ffffff;
  }
}

.form__fieldset {
  background-color: #316dc2;
  border-radius: 16px;
  width: 498px;
  padding: 70px 74px;
  position: relative;
  z-index: 5;
  min-height: 100%;
}

.form__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    object-fit: cover;
    border-radius: 12px;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
}

.form__checkbox {
  position: relative;
  padding-left: 30px;
}

.form__checkbox-mark {
  border: 2px solid transparent;
  display: block;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;

  &::before {
    content: "";
    width: 8px;
    height: 6px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    color: #316dc2;
  }
}

.form__checkbox-input:checked {
  + .form__checkbox-mark {

    &::before {
      left: auto;
      right: 0;
    }
  }
}
