.form {
  margin-top: 120px;
}

.form__container {
  position: relative;
}

.form__wrapper {
  position: relative;
}

.form__slogan {
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 27px;
  margin-top: 11px;
}

.form__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.9;
  color: #f0efe9;
  margin: 0;
  margin-bottom: 26px;
}

.form__field-group {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__checkbox-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  position: relative;
  color: rgba(255, 255, 255, 0.9);
}

.form__field-group select {
  width: 350px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  appearance: none;
  position: relative;
  margin-top: 7px;
  outline: none;
  background-image: url("../../img/sprite/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 19px top 16px;
  padding-left: 25px;
  padding-right: 40px;
  color: #f0efe9;
  margin-bottom: 5px;

  &:hover {
    border-color: #ffffff;
  }

  &:active,
  &:focus {
    outline: none;
    border-color: #ffffff;
  }

  &:disabled {
    border-color: rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
  }

  option {
    color: #316dc2;
    background-color: #ffffff;
  }
}

.form__field-group.is-invalid select {
  border-color: #ff5e66;
  background-color: rgba(255, 94, 102, 0.2);
}

.form__field-group label {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(240, 239, 233, 0.8);
}

.form__field-group input {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #f0efe9;
  width: 350px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  margin-top: 6px;
  padding-left: 25px;
  padding-right: 25px;

  &:hover {
    border-color: #ffffff;
  }

  &:active,
  &:focus {
    outline: none;
    border-color: #ffffff;
  }

  &:disabled {
    border-color: rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.form__field-group.is-invalid input {
  border-color: #ff5e66;
  background-color: rgba(255, 94, 102, 0.2);
}

.form__field-group textarea {
  width: 350px;
  height: 97px;
  background-color: transparent;
  color: #f0efe9;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  margin-top: 6px;
  outline: none;
  padding: 20px 25px;

  &:hover {
    border-color: #ffffff;
  }

  &:active,
  &:focus {
    outline: none;
    border-color: #ffffff;
  }

  &:disabled {
    border-color: rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.form__field-group.is-invalid textarea {
  border-color: #ff5e66;
  background-color: rgba(255, 94, 102, 0.2);
}

.form__button {
  font-family: $ff-manrope;
  width: 100%;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  background-color: transparent;
  color: #ffffff;
  user-select: none;
  border-radius: 30px;
  border: 1px solid #ffffff;
  position: relative;
  margin-top: 26px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 21px;
  padding-right: 71px;

  svg {
    position: absolute;
    top: 22px;
    right: 21px;
    color: #316dc2;
  }

  &::after {
    content: "";
    position: absolute;
    right: 3px;
    top: 3px;
    border-radius: 50%;
    background-color: #ffffff;
  }

  &:hover,
  &:focus-visible {
    background-color: #ffffff;
    color: #316dc2;

    svg {
      color: #ffffff;
      transform: rotate(45deg);
    }

    &::after {
      background-color: #316dc2;
    }
  }

  &:active {
    background-color: #ffffff;
    color: rgba(255, 255, 255, 0.7);

    svg {
      color: #ffffff;
      opacity: 0.7;
      transform: rotate(45deg);
    }

    &::after {
      background-color: #316dc2;
    }
  }

  &:disabled {
    border-color: #a9afb7;
    color: #a9afb7;
    background-color: transparent;

    svg {
      color: #ffffff;
      opacity: 0.6;
      transform: none;
    }

    &::after {
      background-color: #a9afb7;
    }
  }
}

.form__fieldset {
  background-color: #316dc2;
  border-radius: 16px;
  width: 498px;
  padding: 70px 74px;
  position: relative;
  z-index: 5;
  min-height: 100%;
  padding-bottom: 39px;
}

.form__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    object-fit: cover;
    border-radius: 12px;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
}

.form__field-group--checkbox label {
  position: relative;
  padding-left: 30px;
  display: inline-block;
}

.form__checkbox-mark {
  border: 2px solid transparent;
  display: block;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;

  svg {
    position: absolute;
    top: 5px;
    left: 4px;
    color: #316dc2;
    display: none;
  }
}

[type="checkbox"]:checked {
  + .form__checkbox-mark svg {
    display: block;
  }
}

@media (max-width: $tablet-width) {
  .form {
    margin-top: 101px;
    padding-bottom: 3px;
  }

  .form__slogan {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 28px;
  }

  .form__fieldset {
    padding-left: 45px;
    padding-top: 49px;
    padding-bottom: 56px;
    padding-right: 45px;
    width: 442px;
  }

  .form__text {
    margin-bottom: 27px;
    padding-bottom: 2px;
    line-height: 20px;
  }

  .form__field-group {
    margin-bottom: 13px;
  }

  .form__field-group input {
    margin-top: 5px;
    width: 100%;
  }

  .form__field-group select {
    margin-top: 5px;
    width: 100%;
  }

  .form__field-group textarea {
    width: 100%;
    margin-top: 5px;
    margin-bottom: -4px;
    height: 98px;
  }

  .form__button {
    padding-left: 32px;
    padding-right: 82px;
    padding-top: 18px;
    padding-bottom: 20px;
    width: 100%;
    margin-top: 24px;
  }

  .form__checkbox-mark {
    top: 2px;
  }
}

@media (min-width: $mobile-width + 1) {
  .form__text {
    br {
      display: none;
    }
  }
}

@media (max-width: $mobile-width) {
  .form {
    margin-top: 59px;
    padding-bottom: 0;
    border-radius: 16px;
    overflow: hidden;
  }

  .form__container {
    padding-left: 0;
    padding-right: 0;
  }

  .form__slogan {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 17px;
  }

  .form__text {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 24px;
  }

  .form__fieldset {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .form__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .form__field-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 21px;
  }

  .form__field-group label {
    font-size: 12px;
    line-height: 14px;
  }

  .form__field-group input {
    margin-top: 11px;
  }

  .form__field-group select {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .form__field-group textarea {
    margin-top: 11px;
    height: 94px;
    margin-bottom: 0;
  }

  .form__checkbox-mark {
    top: 3px;
  }

  .form__button {
    font-size: 12px;
    line-height: 12px;
    margin-top: 9px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 44px;
    padding-right: 82px;

    svg {
      top: 16px;
      right: 15px;
    }
  }
}
