.news {
  margin-top: 123px;
  text-align: center;
  padding-top: 3px;
}

.news .news__container {
  max-width: 1240px;
  padding: 0;
}

.news__slogan {
  font-family: $ff-manrope;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  color: #316dc2;
  margin: 0;
  margin-bottom: 46px;
}

.news__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 810px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 39px;
}

.news__link {
  color: #316dc2;
  background-color: transparent;
  text-transform: uppercase;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-align: center;
  padding: 12px 26px;
  position: relative;
  opacity: 0.6;
  border-radius: 20px;
  border: 1px solid transparent;

  &--is-active {
    border-color: #316dc2;
    opacity: 1;
  }

  &:hover,
  &:focus-visible {
    color: #316dc2;
  }
}

.news__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
}

.news .news__block {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 46px;
  border-radius: 12px;
  overflow: hidden;
  max-width: 286px;

  &:first-child {
    max-width: 604px;
  }
}

.news__miniblock {
  position: relative;
  text-align: left;
  display: block;
  max-width: 389px;

  h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    color: #316dc2;
    margin: 0;
  }
}

.news__content-wrapper {
  max-width: 100%;
  overflow-x: auto;
}

.news__span {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.12px;
  text-transform: uppercase;
  color: #316dc2;
  background: #f0efe9;
  padding-top: 11px;
  padding-right: 13px;
  padding-bottom: 6px;
  border-radius: 0 12px 0 0;
  position: relative;
  display: inline-block;

  &::before {
    content: "";
    position: absolute;
    top: -11px;
    left: 0;
    width: 16px;
    height: 16px;
    mask-image: url("../../img/sprite/angle.svg");
    transform: rotate(-90deg);
    background-color: #f0efe9;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -12px;
    width: 16px;
    height: 16px;
    mask-image: url("../../img/sprite/angle.svg");
    transform: rotate(-90deg);
    background-color: #f0efe9;
  }
}

.news__header {
  border-radius: 0 12px 0 0;
  background: #f0efe9;
  padding-top: 5px;
  padding-bottom: 0;
  max-width: 214px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    right: -13px;
    width: 16px;
    height: 16px;
    mask-image: url("../../img/sprite/angle.svg");
    transform: rotate(-90deg);
    background-color: #f0efe9;
  }
}

.news__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 12px;
  background: #f0efe9;
  padding-top: 8px;
  padding-bottom: 13px;
  padding-right: 18px;
  margin-top: -1px;
  position: relative;

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #484848;
    margin: 0;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -9px;
    width: 16px;
    height: 16px;
    mask-image: url("../../img/sprite/angle.svg");
    transform: rotate(-90deg);
    background-color: #f0efe9;
  }
}

.news__slider {
  position: relative;
}

.news__link--current {
  color: #ffffff;
  background-color: #316dc2;
  border-radius: 20px;
  opacity: 1;
}

.news__list {
  display: flex;
  list-style: none;
  margin-top: 40px;
  padding-left: 0;
  margin-bottom: 0;
  justify-content: space-between;
  width: 188px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.news__item {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.news__general {
  display: flex;
  align-items: center;
  margin-top: 40px;
  // margin-bottom: 3px;
}

.news__pagination-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #316dc2;
  opacity: 0.5;
  margin-left: 20px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid transparent;

  &:hover,
  &:focus-visible {
    opacity: 1;
    border-color: #316dc2;
    outline: none;
  }

  &:active {
    background-color: #275699;
    color: #ffffff;
    border-color: transparent;
  }
}

.news__pagination-link--current {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  border-radius: 20px;
  background-color: #316dc2;
  opacity: 1;
  margin-left: 0;
}

.news__button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  flex-shrink: 0;

  &::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #316dc2;
    top: 0;
    right: 0;
  }

  svg {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    color: #ffffff;
  }

  &:hover,
  &:focus-visible {
    svg {
      color: #316dc2;
      transform: rotate(45deg);
    }

    &::after {
      background-color: #ffffff;
    }
  }

  &:active {
    svg {
      color: #316dc2;
      opacity: 0.7;
      transform: rotate(45deg);
    }

    &::after {
      background-color: #ffffff;
    }
  }

  &:disabled {
    svg {
      color: #ffffff;
      opacity: 0.6;
      transform: none;
    }

    &::after {
      background-color: #a9afb7;
    }
  }
}

// .news__block {
//   &:first-child {
//     .news__header {
//       span {
//         padding-top: 5px;
//       }
//     }
//   }
// }

@media (min-width: $tablet-width + 1) {
  .news__block {
    &:first-child {
      .news__header {
        max-width: 291px;
        padding-top: 13px;
        padding-bottom: 4px;
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .news {
    margin-top: 100px;
    padding-top: 0;
  }

  .news .news__container {
    padding-left: 45px;
    padding-right: 45px;
  }

  .news__general {
    margin-top: 28px;
  }

  .news__content {
    width: 670px;
    margin-bottom: 32px;
  }

  .news__link {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 19px;
    padding-right: 19px;
  }

  .news__slogan {
    font-size: 34px;
    line-height: 50px;
    margin-bottom: 30px;
  }

  .news .news__block {
    max-width: none;
    padding-right: 84px;
    min-height: 350px;

    &:first-child {
      max-width: none;
    }
  }

  .news .news__slider {
    height: 730px;
  }

  .news__miniblock {
    h3 {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .news__header {
    max-width: 207px;
  }

  .news__span {
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .news__footer {
    padding-bottom: 11px;
    p {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

@media (max-width: $mobile-width) {
  .news .news__container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .news__slogan {
    font-size: 20px;
    line-height: 20px;
  }

  .news__miniblock {
    h3 {
      font-size: 16px;
      line-height: 18px;
    }
  }

  .news .news__block {
    min-height: 240px;
    max-height: 240px;

    &:nth-child(2n + 1) {
      min-height: 330px;
      max-height: none;
    }
  }

  .news .news__slider {
    height: 590px;
  }

  .news__footer {
    p {
      font-size: 12px;
      line-height: 24px;
    }
  }

  .news__link {
    font-size: 12px;
    line-height: 12px;
  }
}

