.reviews {
  margin-top: 119px;
  padding-top: 4px;
}

.reviews__slogan {
  font-family: $ff-manrope;
  font-size: 50px;
  line-height: 50px;
  font-weight: 400;
  color: #316dc2;
  margin: 0;
  margin-bottom: 46px;
  margin-left: 3px;
}

.reviews .reviews__general {
  height: auto;
  padding: 50px;
  border-radius: 16px;
  border: 1px solid #316dc2;
  padding-bottom: 42px;
}


.reviews__general {
  h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #316dc2;
    margin: 0;
    margin-left: 15px;
    margin-top: -5px;
  }

  h4 {
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    color: #316dc2;
    margin: 0;
    margin-bottom: 14px;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #484848;
    margin: 0;
  }
}

.reviews__blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 21px;
}

.reviews__content {
  display: flex;
  align-items: center;
}

.reviews__header {
  display: flex;
}

.reviews__span {
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }
}

.reviews__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: #316dc2;
  letter-spacing: 0.12px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 4px;
  margin-top: -2px;
}

.reviews__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #484848;
}

.reviews__navigation-wrapper {
  width: 100%;
  min-height: 22px;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.reviews__scrollbar {
  margin-right: 52px;
}

.reviews__scrollbar-horizontal {
  flex-grow: 1;
  height: 2px;
  background: rgba(49, 109, 194, 0.2);
}

.reviews__scrollbar-drag {
  height: 2px;
  background: #316dc2;
}

// @media (min-width: $tablet-width + 1) {
//   .reviews__general p {
//     br {
//       display: none;
//     }
//   }
// }

@media (max-width: $tablet-width) {
  .reviews__picture {
    img {
      vertical-align: bottom;
    }
  }

  .reviews {
    margin-top: 100px;
    padding-top: 0;
  }

  .reviews .reviews__container {
    padding-right: 0;
  }

  .reviews__slogan {
    font-size: 34px;
    line-height: 50px;
    padding-right: 45px;
    margin-bottom: 41px;
    margin-left: 0;
  }

  .reviews__navigation-wrapper {
    padding-right: 45px;
    margin-top: 39px;
  }

  .reviews .reviews__general {
    width: 560px;
    padding-top: 48px;
    padding-bottom: 46px;
    padding-right: 46px;
    padding-left: 49px;
  }

  .reviews__header {
    margin-top: 6px;
    margin-right: 2px;
  }

  .reviews__span {
    margin-right: 26px;
  }

  .reviews__general {
    h3 {
      margin-top: 0;
      font-size: 20px;
      line-height: 24px;
    }

    h4 {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 16px;
    }

    p {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .reviews .reviews__general--description p {
    padding-right: 4px;
  }

  .reviews__description {
    font-size: 14px;
    line-height: 20px;
  }

  .reviews__blocks {
    padding-right: 2px;
    margin-bottom: 25px;
  }
}

@media (max-width: $mobile-width) {
  .reviews {
    margin-top: 61px;
    padding-top: 3px;
    padding-bottom: 1px;
  }

  .reviews .reviews__container {
    padding-right: 14px;
    padding-left: 14px;
  }

  .reviews__slogan {
    padding-right: 0;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 32px;
    margin-left: 1px;
  }

  .reviews__navigation-wrapper {
    padding-right: 0;
    position: static;
    min-height: 0;
    margin: 0;
  }

  .reviews__scrollbar {
    display: none;
  }

  .reviews__navigation {
    position: absolute;
    top: -1px;
    right: 0;
  }

  .reviews .reviews__general {
    padding-top: 28px;
    padding-bottom: 24px;
    padding-left: 15px;
    padding-right: 13px;
  }

  .reviews__general {
    h3 {
      font-size: 14px;
      line-height: 18px;
      margin-left: 10px;
    }

    h4 {
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 15px;
    }

    p {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .reviews__text {
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 2px;
  }

  .reviews__description {
    font-size: 12px;
    line-height: 24px;
  }

  .reviews__blocks {
    display: block;
    margin-bottom: 19px;
  }

  .reviews__picture img {
    width: 60px;
    height: 60px;
  }

  .reviews__content {
    margin-bottom: 16px;
    margin-top: 1px;
  }
}
